[user]
	email = maxtilford@gmail.com
	name = Max Tilford
[push]
  default = upstream
[branch]
  autosetuprebase = always
[core]
  editor = ~/bin/ed
  whitespace = trailing-space,space-before-tab
[alias]
  git = !git
  st = status
  co = checkout
[apply]
  whitespace = fix
